# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
llm-api-uptime

# Database
data/
*.db
*.db-journal
*.db-wal
*.db-shm

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
